<!DOCTYPE html>

<html>
   <head>
      <h1>ERROR PAGE</h1>
      <link rel="stylesheet" href="./CSS_FILES/style.css">
      <link rel="icon" href="../images/weather_icon.jpg"
    
   </head>
   
   <body>
    <h1>{{error01}}</h1>
    
    {{>headers}}

    {{>footer}}
   </body>
</html>