<!DOCTYPE html>

<html>
   <head>
      <title>PAGE NOT FOUND</title>
      <link rel="icon" href="../images/weather_icon.jpg"
   </head>
   <link rel="stylesheet" href="./CSS_FILES/style.css">
   <body>
    {{>headers}}
    <h1>{{error02}}</h1>

    {{>footer}}
   </body>
</html>