<!DOCTYPE html>

<html>
   <head>
       <title>ABOUT</title>
       <link rel="icon" href="../images/weather_icon.jpg"
    
   </head>
   <link rel="stylesheet" href="./CSS_FILES/style.css">
   <body>
      <h1>ABOUS US...</h1>
    {{>headers}}
    <h3>{{user}} welcome's you for your contribution for the web application </h3>
    <p>Hi There </p>
      <p>
      Progress for me has never been a dream. 
      It has always been a distant reality and once one milestone is achieved, there is always another one waiting to be crossed. 
      It is with this belief that I started Pandit Weather application. in 2018, a company that was in the business of Fruit processing. 
      Almost instantly, Pandit Weather Application. became a prominent name in its business segment, but like every entrepreneur sticks to their dream, I always wanted to push my company to more prosperous milestones. 
      More than being a global player, I always perceived my company as a unit that could make a difference with its quality and competitively priced products. 
      Taking a path less traveled, I expanded Arfin into Ferro Alloys production, a highly sensitive business that requires a high amount of technical know-how, expertise and specialized knowledge.
      </p>
      <p>
      Going forward We will make this application more intractive and dynamic not in collecting and analyzing weather data but also to process other relevant user data.
      </p>
      <p>Regards <br>Praveen Joshi <br> Pandit Weather application Pvt Ltd. </p>


    {{>footer}}
   </body>
</html>