<!DOCTYPE html>

<html>
   <head>
       <title>ABOUT</title>
       <link rel="icon" href="../images/weather_icon.jpg"
    
   </head>
   <link rel="stylesheet" href="./CSS_FILES/style.css">
   <body>
      <h1>ABOUS US...</h1>
    {{>headers}}
    <h3>{{user}} is in this industry for twenty years</h3>

    {{>footer}}
   </body>
</html>