<!DOCTYPE html>
<html>

<head>
    <title>HELP PAGE</title>
    <link rel="stylesheet" href="./CSS_FILES/style.css">
    <link rel="icon" href="../images/weather_icon.jpg" >
    
</head>

<body>
    <h1>HELP PAGE</h1>
    {{>headers}}

    <h3>FAQ ASKED QUESTION</h3>
    <p>Why to use this application ? <br> 
    Ans -: This application use the local weather applicances to collect exact weather data for your city</p>
    <p>How to use it ? <br> That's not a big deal, just type your city name in search box and that's all you need to do</p>
    <p>What feathure's are there <br> We collect the current weather as well as forecast for rain or possible thunderstorm</p>
    <p>What's in future for this application ? <br> We will start to collect the local weather to by using advance AI algo to get the details for per minute.</p>
    <p>What are future plans ?<br> We will also facilate to get the collect local food crops according to the weather forcasting for that particular region. </p>
     {{>footer}}
</body>


</html>