<!DOCTYPE html>
<html>

<head>
    <title>HELP PAGE</title>
    <link rel="stylesheet" href="./CSS_FILES/style.css">
    <link rel="icon" href="../images/weather_icon.jpg" >
    
</head>

<body>
    <h1>HELP PAGE</h1>
    {{>headers}}

    <h3>{{developerName}} IS HAPPY TO HELP YOU</h3>
     {{>footer}}
</body>


</html>